{% extends 'base.html' %}

{% block title %}
<title>Edit Posts</title>
{% endblock %}

{% block body %}
<h3>Edit Posts</h3>

<br>
<form action="/posts" method="POST">
    <label for="title">Title:</label>
    <input class="form-control" type="text" name='title' value="{{post.title}}" aria-label="Enter Title">
        
    <br>
    <label for="author">Author:</label>
    <input class="form-control" type="text" name='author' value="{{post.author}}" aria-label="Enter Author">
    
    <br>
    <label for="content">Post:</label>
    <textarea class="form-control" name='body' aria-label="Enter Content" rows="10">{{post.body}}</textarea>
        
    <br>
    <button class="btn btn-primary">Update Post</button>
    <a href="/posts" class="btn btn-default">Discard</a>
</form>

{% endblock %}