{% extends 'base.html' %}

{% block title %}
<title>Posts</title>
{% endblock %}

{% block body %}

    <a href="/post/new" class="btn btn-primary">Add Post</a>
    <br><br>

    {% for post in posts %}

        <h2><a href="/post/{{post.id}}" class="post-title">{{ post.title }}</a></h2>

        {% if post.author %}
            <small>Posted by : By : {{post.author}} on {{post.created_at}}</small>
            
        {% endif %}
        
        <br>

        <div class="post-body">
            <p>{{ post.body }}</p>
        </div>

        <a href="/post/edit/{{post.id}}">Edit</a>
        <a href="/post/delete/{{post.id}}" style="margin-left: 10px;">Delete</a>

        <hr>
    {% endfor %}
{% endblock %}